<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/common/common.css" />
    <title>新規登録画面</title>
  </head>
  <body>
    <h1>新規登録画面</h1>
    <form th:action="@{/register_execute}" th:object="${form}" method="post">
    <div class="text">ユーザID
      <input type="text" name="userName">
    </div>
    <br>
    <div class="text">パスワード
      <input type="password" name="password">
    </div>
    <br>
    <div class="submit">
      <input type="submit" value="登録">
    </div>
    <br>
    </form>
  </body>
</html>